// Primary colors

$redBorder: hsl(0, 78%, 62%);
$cyanBorder: hsl(180, 62%, 55%);
$orangeBorder: hsl(34, 97%, 64%);
$blueBorder: hsl(212, 86%, 64%);

// Neutral colors

$darkBlue: hsl(234, 12%, 34%);
$textColor: hsl(229, 6%, 66%);
$bgColor: hsl(0, 0%, 98%);